<!DOCTYPE html>
<html lang="eng">
<head>
    <title>AgroCulture: Success</title>
    <meta charset="UTF-8">
    <style>
         body {
            
            /* background-image:url('templates/newbg.jpg') center/cover no-repeat; */
            background-color: #f9cfa2; 
            /* background-color: (#808080); */
            font-family: 'Arial', sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
         }
         
    </style>
</head>
<body>
    <center>
        <h2>Order Successful!</h2>
        <p>Thank you for shopping with us. Your order has been successfully placed.</p>
        <!-- Add any additional content or links as needed -->
    </center>
</body>
</html>
